In this Notebook i want to investigate into Clusters of Vegan Restaurants arround Kiel
Imagine being a big new company wanting to find out a optimal cluster where the konkurrenz ist möglichst gering.

In [1]:
import pandas as pd

In [3]:
# importing data from csv file
# the data was querryed from an OpenStreetMap API in the gettingData.ipynb
data = pd.read_csv("data/restaurants_kiel.csv")

In [6]:
data.head()

,Unnamed: 0,id,type,lat,lon,addr:city,addr:country,addr:housenumber,addr:postcode,addr:street,...,changing_table:fee,drink:soy_milk,payment:electronic_purses,drink:coffee,bar,internet_access:ssid,currency:BCH,image,operator:type,note:de
0,0,125623466,node,54.338116,10.128011,Kiel,DE,82,24118.0,Hansastraße,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,125625723,node,54.337606,10.124073,Kiel,NaN,389,24118.0,Westring,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,125626070,node,54.339351,10.123098,Kiel,NaN,2,24118.0,Rudolf-Höber-Straße,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,192214000,node,54.341774,10.125772,Kiel,DE,453-455,24118.0,Westring,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,268223175,node,54.322519,10.136583,Kiel,NaN,3,24103.0,Holstenbrücke,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data.loc[data['name']=='name'].agg(['nunique','count','size'])

,Unnamed: 0,id,type,lat,lon,addr:city,addr:country,addr:housenumber,addr:postcode,addr:street,...,changing_table:fee,drink:soy_milk,payment:electronic_purses,drink:coffee,bar,internet_access:ssid,currency:BCH,image,operator:type,note:de
nunique,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
size,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
selected_columns = data[["lat", "lon", "name"]]

          lat        lon                  name
0   54.338116  10.128011               Oblomow
1   54.337606  10.124073          Campus Suite
2   54.339351  10.123098          Campus Suite
3   54.341774  10.125772                Yummy!
4   54.322519  10.136583            McDonald's
..        ...        ...                   ...
91  54.314901  10.132505                Subway
92  54.319693  10.121929  John's Pizza Kitchen
93  54.311426  10.127347          Campus Suite
94  54.315196  10.122478                 Seypa
95  54.327393  10.130817          Killer Pizza

[96 rows x 3 columns]